{% extends 'base.html' %}

{% block title %}
    MO - Learning
{% endblock %}

{% block header %}
    {% include 'datatables.html' %}
    <style>
        .backlog {
            opacity: 0.5;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>Learning</h2>

    <br>
    
    <div class="form-group mb-3">
        <label for="instrument-select">Instrument</label>
        <select class="form-select " id="instrument-select">
            <option selected>all</option>
            <option>piano</option>
            <option>guitar</option>
            <option>bass</option>
            <option>drums</option>
        </select>
    </div>
    
    <table id="learning-table" class="table table-hover" style="width:100%">
        <thead>
            <tr>
                <th class="d-none">id</th>
                <th class="d-none">last_viewed</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Track</th>
                <th>Instrument</th>
                <th>Reason</th>
                <th>Backlog</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            {% for item in learning_list %}
                <tr style="cursor: pointer;" class="{% if item.backlog == 'yes' %}backlog{% endif %}">
                    <td class="d-none">{{ item.id }}</td>
                    <td class="d-none">{{ item.last_viewed }}</td>
                    <td>{{ item.artist }}</td>
                    <td>{{ item.album }}</td>
                    <td>{{ item.track }}</td>
                    <td>{{ item.instrument }}</td>
                    <td>{{ item.reason }}</td>
                    <td>{{ item.backlog }}</td>
                    <td class="learning-links">
                        {% for link in item.links %}
                            {{ link | safe }}<br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('root.learning.edit_entry' ) }}" class="btn btn-primary mt-3">Add Entry</a>

    <script>
        // configure table
        const table = new DataTable('#learning-table', {
            info: false,
            paging: false,
            stateSave: false,
            order: [[7, 'asc'], [1, 'desc']],
            columnDefs: [
                { // id
                    target: 0,
                    searchable: false
                },
                { // last_viewed
                    target: 1,
                    searchable: false
                },
                { // instrument
                    target: 5,
                    searchable: false
                },
                { // reason
                    target: 6,
                    searchable: false
                },
                { // backlog
                    target: 7,
                    searchable: false
                }, // links
                {
                    target: 8,
                    searchable: false
                },
            ]
        });

        // row click handler
        table.on('click', 'tbody tr', function (e) {
            if ($(e.target).closest('strong').length > 0) {
                return
            }
            row = e.currentTarget
            id = row.cells[0].innerText
            window.location = "{{ url_for('root.learning.edit_entry' ) }}?id="+id
        });

        // update backend on link click (to sort table by most recently viewed)
        $('.learning-links a').on('click', function(event) {
            var row = $(this).closest('tr');
            var rowId = row.find('td:first').text();
            $.ajax({
                type: 'POST',
                url: '{{ url_for("root.learning.viewed") }}',
                data: { id: rowId },
                success: function(response) {},
                error: function(error) {
                    var e = 'failed to make POST request'+error
                    alert(e)
                    console.error(e);
                }
            });
        });

        // instrument dropdown handler
        $('#instrument-select').change(function() {
            var selectedInstrument = $(this).val();
            filterInstruments(selectedInstrument)
        });
        var instrumentColumnIndex = $('#learning-table th:contains(Instrument)').index();
        function filterInstruments(instrument) {
            $('#learning-table tbody tr').each(function() {
                var instrumentColumnText = $(this).find('td').eq(instrumentColumnIndex).text();
                if (instrument === 'all' || instrumentColumnText === instrument) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }
        filterInstruments($('#instrument-select').val())
    </script>
{% endblock %}